/* GENERAL */
#root {
  background-color: rgba(255, 253, 139, 0.801);
  width: 100vw;
  padding: 20px;
}

.container {
  background-color: darkgrey;
  padding: 2rem;
  margin-top: 2px;
}

.container-fluid {
  background-color: darkorchid;

  margin-top: 2px;
  padding: 2rem;
}

header.container-fluid,
footer.container-fluid {
  background-color: blue;

  width: 100%;
}

.content {
  background-color: coral;
}

button {
  background-color: red;
}

.col {
  background-color: pink;
  padding: 1rem;
}
.row {
  background-color: fuchsia;
}

img {
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}
