#app {
  background-color: rgba(255, 253, 139, 0.801);
  width: 100vw;
  padding: 20px;
}

.container {
  background-color: darkgrey;
  height: 200px;
  margin-top: 2px;
}

.container-fluid {
  background-color: darkorchid;
  height: 200px;
  margin-top: 2px;
}

header.container-fluid,
footer.container-fluid {
  background-color: blue;
  height: 200px;
  width: 100%;
}
