/* GENERAL */
:root {
  /* # BACKGROUNDS */
  --green-bg: #007166;
  --orange-bg: #ef9e03;
  --jumbotron-bg: url(../imgs/assets/H3-slider3.jpg);
  --shop-bg: url(../imgs/assets/shop-bg-img.jpg);
  --banner-bg: url(../imgs/assets/counter-bg.jpg);
  --title-bg: url(../imgs/assets/title-shap.png);
  --call-to-action-bg: url(../imgs/assets/call-to-bg.jpg);
  --footer-top-bg: url(../imgs/assets/footer-bg.jpg);

  /* TEXT */
  --green-text: #007166;
  --orange-text: #ef9e03;
  --white-text: #ffffff;
  --light-text: #888888;
  --dark-text: #333333;
}

body {
  margin: auto;
  color: var(--white-text);
  font-family: "roboto", sans-serif;
}

#root {
  background-color: #fff;
  width: 100vw;
  padding: 20px;
}

/* TEXT */
.text-title {
  color: var(--white-text);
  font-size: 2rem;
}
.text-title-section {
  color: var(--orange-text);

  font-weight: bold;
}

small {
  color: var(--orange-text);
}

/* BUTTONS */
.btn-primary {
  background-color: var(--orange-bg);
  color: var(--white-text);
  font-size: smaller;
  border: none;
  border-radius: 0 1rem;
  padding: 0.5rem 1rem;
}

.btn-secondary {
  background-color: var(--green-bg);
  color: var(--white-text);
  font-size: smaller;
  border: none;
  border-radius: 0 1rem;
  padding: 0.5rem 1rem;
}

header.container-fluid,
footer.container-fluid {
  background-color: blue;
}

/* HEADER */
.top-header {
  background-color: var(--green-bg);
  color: var(--white-text);
  width: 100%;
}
nav {
  background-color: white;
  width: 100%d;
}

/* JUMBOTRON */
#jumbotron {
  background-image: var(--jumbotron-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 45rem;
}

/* SECTION 1 */

.seal {
  position: absolute;
  left: 80rem;
}

/* ALL PRODUCTS */
.products {
  background-image: var(--shop-bg);
}

/* ------------------ */

.container-fluid {
  /*   background-color: darkorchid; */

  margin-top: 2px;
  padding: 2rem;
}
.container {
  /* background-color: darkgrey; */
  width: 70%;
  padding: 2rem;
  margin-top: 2px;
}
/* .content {
  background-color: coral;
} */

/* .col {
  background-color: pink;
  padding: 1rem;
}
.row {
  background-color: fuchsia;
} */

img {
  width: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}
